<div class="sidenav" [ngClass] ="collapsed ? 'sidenav-collapsed': ''" >
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">Vi</button>
    <div class="logo-text" *ngIf="collapsed">Vision</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSideNav()">
      <i class="fa fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav" (mouseenter)="onMouseenter()" (mouseleave)="onMouseLeave()">
    <li class="sidenav-nav-item" *ngFor = "let data of navData" >
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>
