<div class="container" style="margin-top:5rem" >
  <div class="row">
    <div class="col-12">
      <h4>Dashboard</h4>
    </div>
  </div>
<div class="row" style="margin-top:1rem">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Out of Service</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Needs Attention</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lost Communication</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">In Replenishment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 px-md-0">
    <div class="center mt-md-4">
    <!-- <span class="visits-num mb-4 mt-3 mt-md-0">{{title}}</span> -->
      <div class="mt-5" style="width: 100%; height:auto">
        <!-- <canvas
          baseChart
          id="pieChart"
          height="275"
          width="250px"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="true"
        >
        </canvas> -->
        <div id="js-legend" class="chart-legend"></div>
      </div>
    </div>
  </div>

</div>
</div>

